In [1]:
import pandas as pd
import numpy as np
import os
import os.path
import regex
from datetime import datetime


# Loading original data set 

FILE_PATH = os.path.abspath(os.path.dirname('data/final.csv'))
cities = pd.read_csv(FILE_PATH + '/final.csv')

#Replacing the names of cities with underscores 
cities.replace('\s+', '_',regex=True,inplace=True)
cities

,City,State,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,...,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,Air Quality Index,Diversity Index,Nearest,lat,lon
0,Akron,OH,267782,129623,138086,1.9,67.4,23.2,0.2,3.6,...,0,132,0,142,0,Good,0.490241,"126,56,332,355,295",41.044852,-81.520048
1,Albany,GA,93421,43571,49835,2.8,29.2,65.2,0.1,0.9,...,0,0,0,244,0,Good,0.488771,"162,372,139,351,249",31.567783,-84.161923
2,Albany,NY,147794,70664,77096,7.8,60.3,20.1,0.1,7.6,...,0,169,0,104,0,Good,0.584133,"319,358,336,145,79",42.652580,-73.756633
3,Albany,OR,61555,30378,31168,11.4,82.7,0.6,0.7,1.9,...,0,0,0,182,0,Good,0.302632,"29,132,230,383,202",44.627722,-123.094409
4,Albuquerque,NM,632240,309415,322758,50.4,38.5,2.5,4.0,2.4,...,0,127,0,25,30,Good,0.594958,"359,258,386,360,127",35.106766,-106.629181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,Worcester,MA,183628,89977,93611,20.8,57.2,11.7,0.3,7.3,...,6,169,0,61,1,Good,0.610528,"186,362,6,391,266",42.271389,-71.798889
393,Wyoming,MI,56377,27516,28855,23.8,62.0,7.1,0.4,2.3,...,0,131,0,50,0,Good,0.553378,"131,153,330,209,282",42.900867,-85.705775
394,Yakima,WA,125036,61639,63374,40.1,54.1,0.9,1.6,1.0,...,0,0,0,243,1,Good,0.546085,"256,383,202,320,230",46.606991,-120.477336
395,Yuba_City,CA,75848,37647,38198,28.2,46.2,2.1,0.6,17.7,...,0,149,0,63,1,Good,0.675218,"267,368,255,354,392",39.128619,-121.621599
396,Yuma,AZ,142402,73123,69270,52.5,40.9,2.4,0.8,1.5,...,0,198,0,45,31,Good,0.556232,"329,134,350,368,130",32.701507,-114.642362

In [2]:
# Load data set retrieved from visual crossing first batch 
FILE_PATH = os.path.abspath(os.path.dirname('data/combined.csv'))
cities_df = pd.read_csv(FILE_PATH + '/combined.csv')
cities_df = cities_df.drop(columns=['Name'])
cities_df.head()

c:\users\khisl\.virtualenvs\pt17_cityspire-f-ds-uxny13fo\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,25,27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Location,Wind Direction,Latitude,Cloud Cover (%),Minimum Temperature (degF),Date time,Precipitation (in),Solar Radiation (W/m^2),Dew Point (degF),Relative Humidity (%),...,Wind Speed (mph),Solar Energy (J/m^2),Heat Index (degF),Weather Type,Snow Depth (in),Sea Level Pressure (mb),Snow (in),Wind Gust (mph),Conditions,Wind Chill (degF)
0,"Akron, OH, United States",235.13,41.0843,93.4,35.7,1/1/2019,0.27,35.1,35.1,78.77,...,29.5,1.1,NaN,"Mist, Light Rain",0.0,1017.9,0.0,45.3,"Rain, Overcast",30.0
1,"Akron, OH, United States",168.96,41.0843,97.5,34.0,1/2/2019,0.0,44.4,32.9,84.43,...,13.1,1.6,NaN,"Mist, Fog, Smoke Or Haze",0.0,1020.8,0.0,21.9,Overcast,28.3
2,"Akron, OH, United States",258.58,41.0843,69.1,29.9,1/3/2019,0.0,49.7,26.4,76.35,...,17.6,1.8,NaN,"Mist, Light Snow, Rain, Light Rain, Smoke Or Haze",0.0,1017.4,0.0,26.6,Partially cloudy,23.0
3,"Akron, OH, United States",156.5,41.0843,4.7,29.9,1/4/2019,0.0,75.0,29.0,74.7,...,10.9,2.7,NaN,"Mist, Smoke Or Haze",0.0,1010.6,0.0,NaN,Clear,23.2
4,"Akron, OH, United States",268.33,41.0843,4.7,30.4,1/5/2019,0.0,94.1,31.8,72.23,...,12.7,3.4,NaN,NaN,0.0,1007.3,0.0,NaN,Clear,29.6

In [3]:
# Convert strings to Date time
cities_df['Date time'] = pd.to_datetime(cities_df['Date time'], errors='coerce',format ='%d/%m/%Y')

cities_df.head()

,Location,Wind Direction,Latitude,Cloud Cover (%),Minimum Temperature (degF),Date time,Precipitation (in),Solar Radiation (W/m^2),Dew Point (degF),Relative Humidity (%),...,Wind Speed (mph),Solar Energy (J/m^2),Heat Index (degF),Weather Type,Snow Depth (in),Sea Level Pressure (mb),Snow (in),Wind Gust (mph),Conditions,Wind Chill (degF)
0,"Akron, OH, United States",235.13,41.0843,93.4,35.7,2019-01-01,0.27,35.1,35.1,78.77,...,29.5,1.1,NaN,"Mist, Light Rain",0.0,1017.9,0.0,45.3,"Rain, Overcast",30.0
1,"Akron, OH, United States",168.96,41.0843,97.5,34.0,2019-02-01,0.0,44.4,32.9,84.43,...,13.1,1.6,NaN,"Mist, Fog, Smoke Or Haze",0.0,1020.8,0.0,21.9,Overcast,28.3
2,"Akron, OH, United States",258.58,41.0843,69.1,29.9,2019-03-01,0.0,49.7,26.4,76.35,...,17.6,1.8,NaN,"Mist, Light Snow, Rain, Light Rain, Smoke Or Haze",0.0,1017.4,0.0,26.6,Partially cloudy,23.0
3,"Akron, OH, United States",156.5,41.0843,4.7,29.9,2019-04-01,0.0,75.0,29.0,74.7,...,10.9,2.7,NaN,"Mist, Smoke Or Haze",0.0,1010.6,0.0,NaN,Clear,23.2
4,"Akron, OH, United States",268.33,41.0843,4.7,30.4,2019-05-01,0.0,94.1,31.8,72.23,...,12.7,3.4,NaN,NaN,0.0,1007.3,0.0,NaN,Clear,29.6

In [4]:
# Load data set retrieved from visual crossing second batch 
FILE_PATH = os.path.abspath(os.path.dirname('data/weather_data_merged.csv'))
cities_df1 = pd.read_csv(FILE_PATH + '/weather_data_merged.csv')
cities_df1 = cities_df1.drop(columns=['Name.1'])
cities_df1.head()

,Name,Wind Direction,Latitude,Cloud Cover,Minimum Temperature,Date time,Precipitation,Solar Radiation,Dew Point,Relative Humidity,...,Wind Speed,Solar Energy,Heat Index,Weather Type,Snow Depth,Sea Level Pressure,Snow,Wind Gust,Conditions,Wind Chill
0,"Akron, OH, United States",180.46,41.08431,10.3,23.2,01/01/2017,0.00,NaN,23.3,66.47,...,10.5,NaN,NaN,Mist,0.41,1020.8,0.00,NaN,Clear,21.1
1,"Akron, OH, United States",84.79,41.08431,82.1,33.0,01/02/2017,0.00,NaN,37.6,85.22,...,7.3,NaN,NaN,"Mist, Light Drizzle, Rain, Fog, Light Rain",0.00,1020.3,0.00,NaN,Overcast,26.5
2,"Akron, OH, United States",179.42,41.08431,90.3,42.0,01/03/2017,0.37,NaN,43.6,90.06,...,13.1,NaN,NaN,"Mist, Rain, Fog, Heavy Rain, Light Rain",0.00,1005.3,0.00,29.8,"Rain, Overcast",35.0
3,"Akron, OH, United States",275.25,41.08431,95.8,20.8,01/04/2017,0.02,NaN,20.8,68.33,...,31.5,NaN,NaN,"Mist, Light Snow, Light Rain",0.00,1008.3,0.00,39.6,"Rain, Overcast",5.1
4,"Akron, OH, United States",257.54,41.08431,74.0,12.6,01/05/2017,0.02,NaN,10.7,71.11,...,15.1,NaN,NaN,"Heavy Snow, Light Snow, Mist, Fog",1.02,1015.0,1.02,24.2,"Snow, Partially cloudy",-1.0

In [5]:
# Renamed column to match the other dataset and to be able to merge them on a primary key 
cities_df1 = cities_df1.rename(columns={"Name": "Location"})
cities_df1.head()

,Location,Wind Direction,Latitude,Cloud Cover,Minimum Temperature,Date time,Precipitation,Solar Radiation,Dew Point,Relative Humidity,...,Wind Speed,Solar Energy,Heat Index,Weather Type,Snow Depth,Sea Level Pressure,Snow,Wind Gust,Conditions,Wind Chill
0,"Akron, OH, United States",180.46,41.08431,10.3,23.2,01/01/2017,0.00,NaN,23.3,66.47,...,10.5,NaN,NaN,Mist,0.41,1020.8,0.00,NaN,Clear,21.1
1,"Akron, OH, United States",84.79,41.08431,82.1,33.0,01/02/2017,0.00,NaN,37.6,85.22,...,7.3,NaN,NaN,"Mist, Light Drizzle, Rain, Fog, Light Rain",0.00,1020.3,0.00,NaN,Overcast,26.5
2,"Akron, OH, United States",179.42,41.08431,90.3,42.0,01/03/2017,0.37,NaN,43.6,90.06,...,13.1,NaN,NaN,"Mist, Rain, Fog, Heavy Rain, Light Rain",0.00,1005.3,0.00,29.8,"Rain, Overcast",35.0
3,"Akron, OH, United States",275.25,41.08431,95.8,20.8,01/04/2017,0.02,NaN,20.8,68.33,...,31.5,NaN,NaN,"Mist, Light Snow, Light Rain",0.00,1008.3,0.00,39.6,"Rain, Overcast",5.1
4,"Akron, OH, United States",257.54,41.08431,74.0,12.6,01/05/2017,0.02,NaN,10.7,71.11,...,15.1,NaN,NaN,"Heavy Snow, Light Snow, Mist, Fog",1.02,1015.0,1.02,24.2,"Snow, Partially cloudy",-1.0

In [6]:
# Convert strings to Date time
cities_df1['Date time'] = pd.to_datetime(cities_df1['Date time'], errors='coerce',format ='%d/%m/%Y') 
cities_df1.tail()

,Location,Wind Direction,Latitude,Cloud Cover,Minimum Temperature,Date time,Precipitation,Solar Radiation,Dew Point,Relative Humidity,...,Wind Speed,Solar Energy,Heat Index,Weather Type,Snow Depth,Sea Level Pressure,Snow,Wind Gust,Conditions,Wind Chill
289805,"Yuma, AZ, United States",132.50,32.68549,41.0,41.0,NaT,0.0,NaN,28.6,41.90,...,13.9,NaN,NaN,NaN,0.0,1011.4,0.0,NaN,Partially cloudy,39.1
289806,"Yuma, AZ, United States",332.92,32.68549,21.6,44.1,NaT,0.0,NaN,18.3,26.83,...,15.0,NaN,NaN,NaN,0.0,1017.0,0.0,24.2,Clear,40.6
289807,"Yuma, AZ, United States",177.08,32.68549,0.0,43.1,NaT,0.0,NaN,15.8,26.14,...,23.0,NaN,NaN,NaN,0.0,1023.8,0.0,31.1,Clear,37.9
289808,"Yuma, AZ, United States",132.22,32.68549,0.0,39.8,NaT,0.0,NaN,16.6,28.41,...,9.2,NaN,NaN,NaN,0.0,1017.4,0.0,NaN,Clear,35.7
289809,"Yuma, AZ, United States",150.00,32.68549,53.1,42.2,NaT,0.0,NaN,33.0,55.56,...,12.8,NaN,NaN,Light Rain,0.0,1011.9,0.0,23.0,Partially cloudy,37.2

In [7]:
cities_df.columns

Index(['Location', 'Wind Direction', 'Latitude', 'Cloud Cover (%)',
       'Minimum Temperature (degF)', 'Date time', 'Precipitation (in)',
       'Solar Radiation (W/m^2)', 'Dew Point (degF)', 'Relative Humidity (%)',
       'ID', 'Precipitation Cover (%)', 'Longitude', 'Info',
       'Temperature (degF)', 'Maximum Temperature (degF)', 'Visibility (mi)',
       'Wind Speed (mph)', 'Solar Energy (J/m^2)', 'Heat Index (degF)',
       'Weather Type', 'Snow Depth (in)', 'Sea Level Pressure (mb)',
       'Snow (in)', 'Wind Gust (mph)', 'Conditions', 'Wind Chill (degF)'],
      dtype='object')

In [8]:
# Renaming columns to match the first dataset 
cities_df1.columns
cities_df1 = cities_df1.rename(columns={'Cloud Cover':'Cloud Cover (%)', 'Minimum Temperature': 'Minimum Temperature (degF)', 
                          'Precipitation': 'Precipitation (in)', 'Solar Radiation': 'Solar Radiation (W/m^2)',
                          'Dew Point': 'Dew Point (degF)', 'Relative Humidity': 'Relative Humidity (%)', 
                          'Precipitation Cover': 'Precipitation Cover (%)','Temperature': 'Temperature (degF)',
                           'Maximum Temperature': 'Maximum Temperature (degF)', 'Visibility': 'Visibility (mi)',
                           'Wind Speed': 'Wind Speed (mph)', 'Solar Energy': 'Solar Energy (J/m^2)', 
                           'Heat Index': 'Heat Index (degF)', 'Snow Depth': 'Snow Depth (in)', 
                           'Sea Level Pressure': 'Sea Level Pressure (mb)', 'Snow': 'Snow (in)', 
                           'Wind Gust': 'Wind Gust (mph)','Wind Chill': 'Wind Chill (degF)'})

cities_df1.head(3)

,Location,Wind Direction,Latitude,Cloud Cover (%),Minimum Temperature (degF),Date time,Precipitation (in),Solar Radiation (W/m^2),Dew Point (degF),Relative Humidity (%),...,Wind Speed (mph),Solar Energy (J/m^2),Heat Index (degF),Weather Type,Snow Depth (in),Sea Level Pressure (mb),Snow (in),Wind Gust (mph),Conditions,Wind Chill (degF)
0,"Akron, OH, United States",180.46,41.08431,10.3,23.2,2017-01-01,0.00,NaN,23.3,66.47,...,10.5,NaN,NaN,Mist,0.41,1020.8,0.0,NaN,Clear,21.1
1,"Akron, OH, United States",84.79,41.08431,82.1,33.0,2017-02-01,0.00,NaN,37.6,85.22,...,7.3,NaN,NaN,"Mist, Light Drizzle, Rain, Fog, Light Rain",0.00,1020.3,0.0,NaN,Overcast,26.5
2,"Akron, OH, United States",179.42,41.08431,90.3,42.0,2017-03-01,0.37,NaN,43.6,90.06,...,13.1,NaN,NaN,"Mist, Rain, Fog, Heavy Rain, Light Rain",0.00,1005.3,0.0,29.8,"Rain, Overcast",35.0

In [9]:
cities_df.shape, cities_df1.shape

((320055, 27), (289810, 27))

In [31]:
# Merging 2 datasets on 'city', which is a primary key. 
# cities_combined = pd.merge(cities_df, cities_df1, on='Location', how='outer')
# cities_combined

combined_df = pd.concat([cities_df, cities_df1], sort=True)
combined_df.shape

(609865, 27)

In [32]:
# Split Location column into 3: City, State and Country. Since all the cities are from the USA, we do not need Country
combined_df[['City','State','Country']] = combined_df['Location'].str.split(", ", expand=True)
combined_df.head()

,Cloud Cover (%),Conditions,Date time,Dew Point (degF),Heat Index (degF),ID,Info,Latitude,Location,Longitude,...,Temperature (degF),Visibility (mi),Weather Type,Wind Chill (degF),Wind Direction,Wind Gust (mph),Wind Speed (mph),City,State,Country
0,93.4,"Rain, Overcast",2019-01-01,35.1,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,...,41.3,9.2,"Mist, Light Rain",30.0,235.13,45.3,29.5,Akron,OH,United States
1,97.5,Overcast,2019-02-01,32.9,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,...,37.3,6.7,"Mist, Fog, Smoke Or Haze",28.3,168.96,21.9,13.1,Akron,OH,United States
2,69.1,Partially cloudy,2019-03-01,26.4,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,...,33.1,9.3,"Mist, Light Snow, Rain, Light Rain, Smoke Or Haze",23.0,258.58,26.6,17.6,Akron,OH,United States
3,4.7,Clear,2019-04-01,29.0,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,...,36.7,8.9,"Mist, Smoke Or Haze",23.2,156.5,NaN,10.9,Akron,OH,United States
4,4.7,Clear,2019-05-01,31.8,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,...,40.2,9.6,NaN,29.6,268.33,NaN,12.7,Akron,OH,United States

In [33]:
# Check if there are any null/NaN values
combined_df.isnull().sum()

Cloud Cover (%)                    5
Conditions                         5
Date time                     366901
Dew Point (degF)                   5
Heat Index (degF)             417131
ID                             40354
Info                          609857
Latitude                           4
Location                           3
Longitude                          4
Maximum Temperature (degF)         5
Minimum Temperature (degF)         5
Precipitation (in)                 4
Precipitation Cover (%)            5
Relative Humidity (%)              5
Sea Level Pressure (mb)         3336
Snow (in)                          5
Snow Depth (in)                    5
Solar Energy (J/m^2)          350010
Solar Radiation (W/m^2)       350010
Temperature (degF)                 5
Visibility (mi)                    8
Weather Type                  214367
Wind Chill (degF)             316467
Wind Direction                     5
Wind Gust (mph)               178943
Wind Speed (mph)                   5
City                               3
State                             12
Country                           12
dtype: int64

In [13]:
# Rename columns. Include only relevant ones and remove the ones categorical variables that contain a lot of missing value
combined_df = combined_df[['City', 'State', 'Date time', 'Latitude','Longitude','Temperature (degF)',
                           'Minimum Temperature (degF)','Maximum Temperature (degF)','Relative Humidity (%)',
                           'Cloud Cover (%)','Precipitation (in)','Precipitation Cover (%)', 'Wind Direction', 
                           'Wind Speed (mph)', 'Wind Gust (mph)', 'Wind Chill (degF)','Snow Depth (in)', 'Snow (in)',
                           'Solar Radiation (W/m^2)', 'Dew Point (degF)','Visibility (mi)','Solar Energy (J/m^2)', 
                           'Heat Index (degF)', 'Sea Level Pressure (mb)']]
combined_df.head(3)

,City,State,Date time,Latitude,Longitude,Temperature (degF),Minimum Temperature (degF),Maximum Temperature (degF),Relative Humidity (%),Cloud Cover (%),...,Wind Gust (mph),Wind Chill (degF),Snow Depth (in),Snow (in),Solar Radiation (W/m^2),Dew Point (degF),Visibility (mi),Solar Energy (J/m^2),Heat Index (degF),Sea Level Pressure (mb)
0,Akron,OH,2019-01-01,41.0843,-81.5143,41.3,35.7,60.8,78.77,93.4,...,45.3,30.0,0.0,0.0,35.1,35.1,9.2,1.1,NaN,1017.9
1,Akron,OH,2019-02-01,41.0843,-81.5143,37.3,34.0,41.7,84.43,97.5,...,21.9,28.3,0.0,0.0,44.4,32.9,6.7,1.6,NaN,1020.8
2,Akron,OH,2019-03-01,41.0843,-81.5143,33.1,29.9,36.8,76.35,69.1,...,26.6,23.0,0.0,0.0,49.7,26.4,9.3,1.8,NaN,1017.4

In [14]:
combined_df.dtypes

City                                  object
State                                 object
Date time                     datetime64[ns]
Latitude                              object
Longitude                             object
Temperature (degF)                    object
Minimum Temperature (degF)            object
Maximum Temperature (degF)            object
Relative Humidity (%)                 object
Cloud Cover (%)                       object
Precipitation (in)                    object
Precipitation Cover (%)               object
Wind Direction                        object
Wind Speed (mph)                      object
Wind Gust (mph)                       object
Wind Chill (degF)                     object
Snow Depth (in)                       object
Snow (in)                             object
Solar Radiation (W/m^2)               object
Dew Point (degF)                      object
Visibility (mi)                       object
Solar Energy (J/m^2)                  object
Heat Index (degF)                     object
Sea Level Pressure (mb)               object
dtype: object

In [16]:
# Function to convert DF columns to floats
def convert_to_float(combined_df):
    combined_df = combined_df.astype(float)
    return combined_df

In [23]:
# Apply convert_to_float function to convert strings into floats  
combined_df['Latitude'] = convert_to_float(combined_df['Latitude'])
combined_df['Longitude'] = convert_to_float(combined_df['Longitude'])
combined_df['Temperature (degF)'] = convert_to_float(combined_df['Temperature (degF)'])
combined_df['Minimum Temperature (degF)'] = convert_to_float(combined_df['Minimum Temperature (degF)'])
combined_df['Maximum Temperature (degF)'] = convert_to_float(combined_df['Maximum Temperature (degF)'])
combined_df['Relative Humidity (%)'] = convert_to_float(combined_df['Relative Humidity (%)'])
combined_df['Cloud Cover (%)'] = convert_to_float(combined_df['Cloud Cover (%)'])
combined_df['Precipitation (in)'] = convert_to_float(combined_df['Precipitation (in)'])
combined_df['Precipitation Cover (%)'] = convert_to_float(combined_df['Precipitation Cover (%)'])
combined_df['Wind Direction'] = convert_to_float(combined_df['Wind Direction'])
combined_df['Wind Speed (mph)'] = convert_to_float(combined_df['Wind Speed (mph)'])
combined_df['Wind Gust (mph)'] = convert_to_float(combined_df['Wind Gust (mph)'])
combined_df['Wind Chill (degF)'] = convert_to_float(combined_df['Wind Chill (degF)'])
combined_df['Snow Depth (in)'] = convert_to_float(combined_df['Snow Depth (in)'])
combined_df['Solar Radiation (W/m^2)'] = convert_to_float(combined_df['Solar Radiation (W/m^2)'])
combined_df['Dew Point (degF)'] = convert_to_float(combined_df['Dew Point (degF)'])
combined_df['Snow (in)'] = convert_to_float(combined_df['Snow (in)'])
combined_df['Solar Radiation (W/m^2)'] = convert_to_float(combined_df['Solar Radiation (W/m^2)'])
combined_df['Dew Point (degF)'] = convert_to_float(combined_df['Dew Point (degF)'])
combined_df['Visibility (mi)'] = convert_to_float(combined_df['Visibility (mi)'])
combined_df['Solar Energy (J/m^2)'] = convert_to_float(combined_df['Solar Energy (J/m^2)'])
combined_df['Heat Index (degF)'] = convert_to_float(combined_df['Heat Index (degF)'])
combined_df['Sea Level Pressure (mb)'] = convert_to_float(combined_df['Sea Level Pressure (mb)'])

In [24]:
combined_df.dtypes

City                                  object
State                                 object
Date time                     datetime64[ns]
Latitude                             float64
Longitude                            float64
Temperature (degF)                   float64
Minimum Temperature (degF)           float64
Maximum Temperature (degF)           float64
Relative Humidity (%)                float64
Cloud Cover (%)                      float64
Precipitation (in)                   float64
Precipitation Cover (%)              float64
Wind Direction                       float64
Wind Speed (mph)                     float64
Wind Gust (mph)                      float64
Wind Chill (degF)                    float64
Snow Depth (in)                      float64
Snow (in)                            float64
Solar Radiation (W/m^2)              float64
Dew Point (degF)                     float64
Visibility (mi)                      float64
Solar Energy (J/m^2)                 float64
Heat Index (degF)                    float64
Sea Level Pressure (mb)              float64
dtype: object

In [34]:
combined_df.head()

,Cloud Cover (%),Conditions,Date time,Dew Point (degF),Heat Index (degF),ID,Info,Latitude,Location,Longitude,...,Temperature (degF),Visibility (mi),Weather Type,Wind Chill (degF),Wind Direction,Wind Gust (mph),Wind Speed (mph),City,State,Country
0,93.4,"Rain, Overcast",2019-01-01,35.1,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,...,41.3,9.2,"Mist, Light Rain",30.0,235.13,45.3,29.5,Akron,OH,United States
1,97.5,Overcast,2019-02-01,32.9,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,...,37.3,6.7,"Mist, Fog, Smoke Or Haze",28.3,168.96,21.9,13.1,Akron,OH,United States
2,69.1,Partially cloudy,2019-03-01,26.4,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,...,33.1,9.3,"Mist, Light Snow, Rain, Light Rain, Smoke Or Haze",23.0,258.58,26.6,17.6,Akron,OH,United States
3,4.7,Clear,2019-04-01,29.0,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,...,36.7,8.9,"Mist, Smoke Or Haze",23.2,156.5,NaN,10.9,Akron,OH,United States
4,4.7,Clear,2019-05-01,31.8,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,...,40.2,9.6,NaN,29.6,268.33,NaN,12.7,Akron,OH,United States

In [35]:
# List the count of each City 
combined_df['City'].value_counts()

Springfield     6144
Albany          4611
Warren          4608
Ashland         3074
Wilmington      3072
                ...
Lake Charles    1536
Sioux Falls     1536
Little Rock     1536
Name               8
                  1
Name: City, Length: 378, dtype: int64

In [36]:
# Remove iirelevant columns: Name and symbol 
combined_df = combined_df[(combined_df['City'] != 'Name') & (combined_df['City'] != '')]

In [37]:
# List the count of each City again to make sure we do not have any irrelevant data 
combined_df['City'].value_counts()

Springfield     6144
Albany          4611
Warren          4608
Ashland         3074
Washington      3072
                ...
Tallahassee     1536
Jacksonville    1536
Lake Charles    1536
Sioux Falls     1536
Little Rock     1536
Name: City, Length: 376, dtype: int64

In [40]:
combined_df

,Cloud Cover (%),Conditions,Date time,Dew Point (degF),Heat Index (degF),ID,Info,Latitude,Location,Longitude,...,Temperature (degF),Visibility (mi),Weather Type,Wind Chill (degF),Wind Direction,Wind Gust (mph),Wind Speed (mph),City,State,Country
0,93.4,"Rain, Overcast",2019-01-01,35.1,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,...,41.3,9.2,"Mist, Light Rain",30.0,235.13,45.3,29.5,Akron,OH,United States
1,97.5,Overcast,2019-02-01,32.9,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,...,37.3,6.7,"Mist, Fog, Smoke Or Haze",28.3,168.96,21.9,13.1,Akron,OH,United States
2,69.1,Partially cloudy,2019-03-01,26.4,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,...,33.1,9.3,"Mist, Light Snow, Rain, Light Rain, Smoke Or Haze",23.0,258.58,26.6,17.6,Akron,OH,United States
3,4.7,Clear,2019-04-01,29.0,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,...,36.7,8.9,"Mist, Smoke Or Haze",23.2,156.5,NaN,10.9,Akron,OH,United States
4,4.7,Clear,2019-05-01,31.8,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,...,40.2,9.6,NaN,29.6,268.33,NaN,12.7,Akron,OH,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289805,41.0,Partially cloudy,NaT,28.6,NaN,'Yuma AZ,NaN,32.68549,"Yuma, AZ, United States",-114.62461,...,53.1,8.8,NaN,39.1,132.5,NaN,13.9,Yuma,AZ,United States
289806,21.6,Clear,NaT,18.3,NaN,'Yuma AZ,NaN,32.68549,"Yuma, AZ, United States",-114.62461,...,52.5,8.9,NaN,40.6,332.92,24.2,15.0,Yuma,AZ,United States
289807,0.0,Clear,NaT,15.8,NaN,'Yuma AZ,NaN,32.68549,"Yuma, AZ, United States",-114.62461,...,49.5,9.9,NaN,37.9,177.08,31.1,23.0,Yuma,AZ,United States
289808,0.0,Clear,NaT,16.6,NaN,'Yuma AZ,NaN,32.68549,"Yuma, AZ, United States",-114.62461,...,48.9,9.9,NaN,35.7,132.22,NaN,9.2,Yuma,AZ,United States
289809,53.1,Partially cloudy,NaT,33.0,NaN,'Yuma AZ,NaN,32.68549,"Yuma, AZ, United States",-114.62461,...,48.4,9.9,Light Rain,37.2,150.0,23.0,12.8,Yuma,AZ,United States

In [42]:
# Create a directory, where we want to store the csv file  
combined_df.to_csv(r'C:\Users\Khisl\Desktop\LABSPT_17\PT17_cityspire-f-ds\weather_api\data\cities_cleaned.csv')

In [43]:
# Create a directory, where we want to store the csv file  
combined_df.to_csv(r'C:\Users\Khisl\Desktop\LABSPT_17\PT17_cityspire-f-ds\weather_api\data\cities_after_eda.csv', index = False)