In [2]:
import pandas as pd
import numpy as np
import os
import os.path
# import regex
from datetime import datetime


# Loading original data set 

FILE_PATH = os.path.abspath(os.path.dirname('data/final.csv'))
cities = pd.read_csv(FILE_PATH + '/final.csv')

# #Replacing the names of cities with underscores 
# cities.replace('\s+', '_',regex=True,inplace=True)
cities

,City,State,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,...,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,Air Quality Index,Diversity Index,Nearest,lat,lon
0,Akron,OH,267782,129623,138086,1.9,67.4,23.2,0.2,3.6,...,0,132,0,142,0,Good,0.490241,"126,56,332,355,295",41.044852,-81.520048
1,Albany,GA,93421,43571,49835,2.8,29.2,65.2,0.1,0.9,...,0,0,0,244,0,Good,0.488771,"162,372,139,351,249",31.567783,-84.161923
2,Albany,NY,147794,70664,77096,7.8,60.3,20.1,0.1,7.6,...,0,169,0,104,0,Good,0.584133,"319,358,336,145,79",42.652580,-73.756633
3,Albany,OR,61555,30378,31168,11.4,82.7,0.6,0.7,1.9,...,0,0,0,182,0,Good,0.302632,"29,132,230,383,202",44.627722,-123.094409
4,Albuquerque,NM,632240,309415,322758,50.4,38.5,2.5,4.0,2.4,...,0,127,0,25,30,Good,0.594958,"359,258,386,360,127",35.106766,-106.629181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,Worcester,MA,183628,89977,93611,20.8,57.2,11.7,0.3,7.3,...,6,169,0,61,1,Good,0.610528,"186,362,6,391,266",42.271389,-71.798889
393,Wyoming,MI,56377,27516,28855,23.8,62.0,7.1,0.4,2.3,...,0,131,0,50,0,Good,0.553378,"131,153,330,209,282",42.900867,-85.705775
394,Yakima,WA,125036,61639,63374,40.1,54.1,0.9,1.6,1.0,...,0,0,0,243,1,Good,0.546085,"256,383,202,320,230",46.606991,-120.477336
395,Yuba City,CA,75848,37647,38198,28.2,46.2,2.1,0.6,17.7,...,0,149,0,63,1,Good,0.675218,"267,368,255,354,392",39.128619,-121.621599
396,Yuma,AZ,142402,73123,69270,52.5,40.9,2.4,0.8,1.5,...,0,198,0,45,31,Good,0.556232,"329,134,350,368,130",32.701507,-114.642362

In [27]:
# Load data set retrieved from visual crossing first batch 
FILE_PATH = os.path.abspath(os.path.dirname('data/combined.csv'))
cities_df = pd.read_csv(FILE_PATH + '/combined.csv', parse_dates=True)
cities_df = cities_df.drop(columns=['Name'])
cities_df.head()

c:\users\khisl\.virtualenvs\pt17_cityspire-f-ds-uxny13fo\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,25,27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Location,Wind Direction,Latitude,Cloud Cover (%),Minimum Temperature (degF),Date time,Precipitation (in),Solar Radiation (W/m^2),Dew Point (degF),Relative Humidity (%),...,Wind Speed (mph),Solar Energy (J/m^2),Heat Index (degF),Weather Type,Snow Depth (in),Sea Level Pressure (mb),Snow (in),Wind Gust (mph),Conditions,Wind Chill (degF)
0,"Akron, OH, United States",235.13,41.0843,93.4,35.7,1/1/2019,0.27,35.1,35.1,78.77,...,29.5,1.1,NaN,"Mist, Light Rain",0.0,1017.9,0.0,45.3,"Rain, Overcast",30.0
1,"Akron, OH, United States",168.96,41.0843,97.5,34.0,1/2/2019,0.0,44.4,32.9,84.43,...,13.1,1.6,NaN,"Mist, Fog, Smoke Or Haze",0.0,1020.8,0.0,21.9,Overcast,28.3
2,"Akron, OH, United States",258.58,41.0843,69.1,29.9,1/3/2019,0.0,49.7,26.4,76.35,...,17.6,1.8,NaN,"Mist, Light Snow, Rain, Light Rain, Smoke Or Haze",0.0,1017.4,0.0,26.6,Partially cloudy,23.0
3,"Akron, OH, United States",156.5,41.0843,4.7,29.9,1/4/2019,0.0,75.0,29.0,74.7,...,10.9,2.7,NaN,"Mist, Smoke Or Haze",0.0,1010.6,0.0,NaN,Clear,23.2
4,"Akron, OH, United States",268.33,41.0843,4.7,30.4,1/5/2019,0.0,94.1,31.8,72.23,...,12.7,3.4,NaN,NaN,0.0,1007.3,0.0,NaN,Clear,29.6

In [15]:
# Load data set retrieved from visual crossing second batch 
FILE_PATH = os.path.abspath(os.path.dirname('data/weather_data_merged.csv'))
cities_df1 = pd.read_csv(FILE_PATH + '/weather_data_merged.csv', parse_dates=True)
cities_df1 = cities_df1.drop(columns=['Name.1'])
cities_df1.head()

,Name,Wind Direction,Latitude,Cloud Cover,Minimum Temperature,Date time,Precipitation,Solar Radiation,Dew Point,Relative Humidity,...,Wind Speed,Solar Energy,Heat Index,Weather Type,Snow Depth,Sea Level Pressure,Snow,Wind Gust,Conditions,Wind Chill
0,"Akron, OH, United States",180.46,41.08431,10.3,23.2,01/01/2017,0.00,NaN,23.3,66.47,...,10.5,NaN,NaN,Mist,0.41,1020.8,0.00,NaN,Clear,21.1
1,"Akron, OH, United States",84.79,41.08431,82.1,33.0,01/02/2017,0.00,NaN,37.6,85.22,...,7.3,NaN,NaN,"Mist, Light Drizzle, Rain, Fog, Light Rain",0.00,1020.3,0.00,NaN,Overcast,26.5
2,"Akron, OH, United States",179.42,41.08431,90.3,42.0,01/03/2017,0.37,NaN,43.6,90.06,...,13.1,NaN,NaN,"Mist, Rain, Fog, Heavy Rain, Light Rain",0.00,1005.3,0.00,29.8,"Rain, Overcast",35.0
3,"Akron, OH, United States",275.25,41.08431,95.8,20.8,01/04/2017,0.02,NaN,20.8,68.33,...,31.5,NaN,NaN,"Mist, Light Snow, Light Rain",0.00,1008.3,0.00,39.6,"Rain, Overcast",5.1
4,"Akron, OH, United States",257.54,41.08431,74.0,12.6,01/05/2017,0.02,NaN,10.7,71.11,...,15.1,NaN,NaN,"Heavy Snow, Light Snow, Mist, Fog",1.02,1015.0,1.02,24.2,"Snow, Partially cloudy",-1.0

In [16]:
# Renamed column to match the other dataset and to be able to merge them on a primary key 
cities_df1 = cities_df1.rename(columns={"Name": "Location"})
cities_df1.head()

,Location,Wind Direction,Latitude,Cloud Cover,Minimum Temperature,Date time,Precipitation,Solar Radiation,Dew Point,Relative Humidity,...,Wind Speed,Solar Energy,Heat Index,Weather Type,Snow Depth,Sea Level Pressure,Snow,Wind Gust,Conditions,Wind Chill
0,"Akron, OH, United States",180.46,41.08431,10.3,23.2,01/01/2017,0.00,NaN,23.3,66.47,...,10.5,NaN,NaN,Mist,0.41,1020.8,0.00,NaN,Clear,21.1
1,"Akron, OH, United States",84.79,41.08431,82.1,33.0,01/02/2017,0.00,NaN,37.6,85.22,...,7.3,NaN,NaN,"Mist, Light Drizzle, Rain, Fog, Light Rain",0.00,1020.3,0.00,NaN,Overcast,26.5
2,"Akron, OH, United States",179.42,41.08431,90.3,42.0,01/03/2017,0.37,NaN,43.6,90.06,...,13.1,NaN,NaN,"Mist, Rain, Fog, Heavy Rain, Light Rain",0.00,1005.3,0.00,29.8,"Rain, Overcast",35.0
3,"Akron, OH, United States",275.25,41.08431,95.8,20.8,01/04/2017,0.02,NaN,20.8,68.33,...,31.5,NaN,NaN,"Mist, Light Snow, Light Rain",0.00,1008.3,0.00,39.6,"Rain, Overcast",5.1
4,"Akron, OH, United States",257.54,41.08431,74.0,12.6,01/05/2017,0.02,NaN,10.7,71.11,...,15.1,NaN,NaN,"Heavy Snow, Light Snow, Mist, Fog",1.02,1015.0,1.02,24.2,"Snow, Partially cloudy",-1.0

In [17]:
cities_df.columns

Index(['Location', 'Wind Direction', 'Latitude', 'Cloud Cover (%)',
       'Minimum Temperature (degF)', 'Date time', 'Precipitation (in)',
       'Solar Radiation (W/m^2)', 'Dew Point (degF)', 'Relative Humidity (%)',
       'ID', 'Precipitation Cover (%)', 'Longitude', 'Info',
       'Temperature (degF)', 'Maximum Temperature (degF)', 'Visibility (mi)',
       'Wind Speed (mph)', 'Solar Energy (J/m^2)', 'Heat Index (degF)',
       'Weather Type', 'Snow Depth (in)', 'Sea Level Pressure (mb)',
       'Snow (in)', 'Wind Gust (mph)', 'Conditions', 'Wind Chill (degF)'],
      dtype='object')

In [50]:
# Renaming columns to match the first dataset 
cities_df1.columns
cities_df1 = cities_df1.rename(columns={'Cloud Cover':'Cloud Cover (%)', 'Minimum Temperature': 'Minimum Temperature (degF)', 
                          'Precipitation': 'Precipitation (in)', 'Solar Radiation': 'Solar Radiation (W/m^2)',
                          'Dew Point': 'Dew Point (degF)', 'Relative Humidity': 'Relative Humidity (%)', 
                          'Precipitation Cover': 'Precipitation Cover (%)','Temperature': 'Temperature (degF)',
                           'Maximum Temperature': 'Maximum Temperature (degF)', 'Visibility': 'Visibility (mi)',
                           'Wind Speed': 'Wind Speed (mph)', 'Solar Energy': 'Solar Energy (J/m^2)', 
                           'Heat Index': 'Heat Index (degF)', 'Snow Depth': 'Snow Depth (in)', 
                           'Sea Level Pressure': 'Sea Level Pressure (mb)', 'Snow': 'Snow (in)', 
                           'Wind Gust': 'Wind Gust (mph)','Wind Chill': 'Wind Chill (degF)'})

cities_df1.head(3)

,Location,Wind Direction,Latitude,Cloud Cover (%),Minimum Temperature (degF),Date time,Precipitation (in),Solar Radiation (W/m^2),Dew Point (degF),Relative Humidity (%),...,Wind Speed (mph),Solar Energy (J/m^2),Heat Index (degF),Weather Type,Snow Depth (in),Sea Level Pressure (mb),Snow (in),Wind Gust (mph),Conditions,Wind Chill (degF)
0,"Akron, OH, United States",180.46,41.08431,10.3,23.2,01/01/2017,0.00,NaN,23.3,66.47,...,10.5,NaN,NaN,Mist,0.41,1020.8,0.0,NaN,Clear,21.1
1,"Akron, OH, United States",84.79,41.08431,82.1,33.0,01/02/2017,0.00,NaN,37.6,85.22,...,7.3,NaN,NaN,"Mist, Light Drizzle, Rain, Fog, Light Rain",0.00,1020.3,0.0,NaN,Overcast,26.5
2,"Akron, OH, United States",179.42,41.08431,90.3,42.0,01/03/2017,0.37,NaN,43.6,90.06,...,13.1,NaN,NaN,"Mist, Rain, Fog, Heavy Rain, Light Rain",0.00,1005.3,0.0,29.8,"Rain, Overcast",35.0

In [51]:
cities_df1.dtypes

Location                       object
Wind Direction                float64
Latitude                      float64
Cloud Cover (%)               float64
Minimum Temperature (degF)    float64
Date time                      object
Precipitation (in)            float64
Solar Radiation (W/m^2)       float64
Dew Point (degF)              float64
Relative Humidity (%)         float64
ID                             object
Precipitation Cover (%)       float64
Longitude                     float64
Info                          float64
Temperature (degF)            float64
Maximum Temperature (degF)    float64
Visibility (mi)               float64
Wind Speed (mph)              float64
Solar Energy (J/m^2)          float64
Heat Index (degF)             float64
Weather Type                   object
Snow Depth (in)               float64
Sea Level Pressure (mb)       float64
Snow (in)                     float64
Wind Gust (mph)               float64
Conditions                     object
Wind Chill (degF)             float64
dtype: object

In [52]:
cities_df.shape, cities_df1.shape

((320055, 27), (289810, 27))

In [53]:
len(cities_df1['Location'].unique())

397

In [54]:
len(cities_df['Location'].unique())

400

In [133]:
# Merging 2 datasets on 'city', which is a primary key. 
# cities_combined = pd.merge(cities_df, cities_df1, on='Location', how='outer')
# cities_combined

combined_df = pd.concat([cities_df, cities_df1], sort=True, axis=0)
combined_df.head()

,Cloud Cover (%),Conditions,Date time,Dew Point (degF),Heat Index (degF),ID,Info,Latitude,Location,Longitude,Maximum Temperature (degF),Minimum Temperature (degF),Precipitation (in),Precipitation Cover (%),Relative Humidity (%),Sea Level Pressure (mb),Snow (in),Snow Depth (in),Solar Energy (J/m^2),Solar Radiation (W/m^2),Temperature (degF),Visibility (mi),Weather Type,Wind Chill (degF),Wind Direction,Wind Gust (mph),Wind Speed (mph)
0,93.4,"Rain, Overcast",1/1/2019,35.1,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,60.8,35.7,0.27,8.33,78.77,1017.9,0.0,0.0,1.1,35.1,41.3,9.2,"Mist, Light Rain",30.0,235.13,45.3,29.5
1,97.5,Overcast,1/2/2019,32.9,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,41.7,34.0,0.0,0.0,84.43,1020.8,0.0,0.0,1.6,44.4,37.3,6.7,"Mist, Fog, Smoke Or Haze",28.3,168.96,21.9,13.1
2,69.1,Partially cloudy,1/3/2019,26.4,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,36.8,29.9,0.0,4.17,76.35,1017.4,0.0,0.0,1.8,49.7,33.1,9.3,"Mist, Light Snow, Rain, Light Rain, Smoke Or Haze",23.0,258.58,26.6,17.6
3,4.7,Clear,1/4/2019,29.0,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,48.5,29.9,0.0,0.0,74.7,1010.6,0.0,0.0,2.7,75.0,36.7,8.9,"Mist, Smoke Or Haze",23.2,156.5,NaN,10.9
4,4.7,Clear,1/5/2019,31.8,NaN,NaN,NaN,41.0843,"Akron, OH, United States",-81.5143,48.6,30.4,0.0,0.0,72.23,1007.3,0.0,0.0,3.4,94.1,40.2,9.6,NaN,29.6,268.33,NaN,12.7

In [134]:
"""astype float was giving me errors, so I have tp comvert them one by one using to_numeric 
pandas function because it only accepted either Series or 1d array"""

combined_df['Latitude'] = pd.to_numeric(combined_df['Latitude'], errors='coerce')
combined_df['Longitude'] = pd.to_numeric(combined_df['Longitude'], errors='coerce')
combined_df['Temperature (degF)'] = pd.to_numeric(combined_df['Temperature (degF)'], errors='coerce')
combined_df['Minimum Temperature (degF)'] = pd.to_numeric(combined_df['Minimum Temperature (degF)'], errors='coerce')
combined_df['Maximum Temperature (degF)'] = pd.to_numeric(combined_df['Maximum Temperature (degF)'], errors='coerce')
combined_df['Relative Humidity (%)'] = pd.to_numeric(combined_df['Relative Humidity (%)'], errors='coerce')
combined_df['Cloud Cover (%)'] = pd.to_numeric(combined_df['Cloud Cover (%)'], errors='coerce')
combined_df['Precipitation (in)'] = pd.to_numeric(combined_df['Precipitation (in)'], errors='coerce')
combined_df['Precipitation Cover (%)'] = pd.to_numeric(combined_df['Precipitation Cover (%)'], errors='coerce')
combined_df['Wind Direction'] = pd.to_numeric(combined_df['Wind Direction'], errors='coerce')
combined_df['Wind Speed (mph)'] = pd.to_numeric(combined_df['Wind Speed (mph)'], errors='coerce')
combined_df['Wind Gust (mph)'] = pd.to_numeric(combined_df['Wind Gust (mph)'], errors='coerce')
combined_df['Wind Chill (degF)'] = pd.to_numeric(combined_df['Wind Chill (degF)'], errors='coerce')
combined_df['Snow Depth (in)'] = pd.to_numeric(combined_df['Snow Depth (in)'], errors='coerce')
combined_df['Solar Radiation (W/m^2)'] = pd.to_numeric(combined_df['Solar Radiation (W/m^2)'], errors='coerce')
combined_df['Dew Point (degF)'] = pd.to_numeric(combined_df['Dew Point (degF)'], errors='coerce')
combined_df['Snow (in)'] = pd.to_numeric(combined_df['Snow (in)'], errors='coerce')
combined_df['Solar Radiation (W/m^2)'] = pd.to_numeric(combined_df['Solar Radiation (W/m^2)'], errors='coerce')
combined_df['Dew Point (degF)'] = pd.to_numeric(combined_df['Dew Point (degF)'], errors='coerce')
combined_df['Visibility (mi)'] = pd.to_numeric(combined_df['Visibility (mi)'], errors='coerce')
combined_df['Solar Energy (J/m^2)'] = pd.to_numeric(combined_df['Solar Energy (J/m^2)'], errors='coerce')
combined_df['Heat Index (degF)'] = pd.to_numeric(combined_df['Heat Index (degF)'], errors='coerce')
combined_df['Sea Level Pressure (mb)'] = pd.to_numeric(combined_df['Sea Level Pressure (mb)'], errors='coerce')

In [135]:
combined_df.dtypes

Cloud Cover (%)               float64
Conditions                     object
Date time                      object
Dew Point (degF)              float64
Heat Index (degF)             float64
ID                             object
Info                           object
Latitude                      float64
Location                       object
Longitude                     float64
Maximum Temperature (degF)    float64
Minimum Temperature (degF)    float64
Precipitation (in)            float64
Precipitation Cover (%)       float64
Relative Humidity (%)         float64
Sea Level Pressure (mb)       float64
Snow (in)                     float64
Snow Depth (in)               float64
Solar Energy (J/m^2)          float64
Solar Radiation (W/m^2)       float64
Temperature (degF)            float64
Visibility (mi)               float64
Weather Type                   object
Wind Chill (degF)             float64
Wind Direction                float64
Wind Gust (mph)               float64
Wind Speed (mph)              float64
dtype: object

In [136]:
len(combined_df['Location'].unique())

400

In [137]:
# Since all the cities and states are from the US, we can remove United States value from Location feature
combined_df['Location'] = combined_df['Location'].str.replace(r'\, United States', '')

c:\users\khisl\.virtualenvs\pt17_cityspire-f-ds-uxny13fo\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [138]:
combined_df.head()

,Cloud Cover (%),Conditions,Date time,Dew Point (degF),Heat Index (degF),ID,Info,Latitude,Location,Longitude,Maximum Temperature (degF),Minimum Temperature (degF),Precipitation (in),Precipitation Cover (%),Relative Humidity (%),Sea Level Pressure (mb),Snow (in),Snow Depth (in),Solar Energy (J/m^2),Solar Radiation (W/m^2),Temperature (degF),Visibility (mi),Weather Type,Wind Chill (degF),Wind Direction,Wind Gust (mph),Wind Speed (mph)
0,93.4,"Rain, Overcast",1/1/2019,35.1,NaN,NaN,NaN,41.0843,"Akron, OH",-81.5143,60.8,35.7,0.27,8.33,78.77,1017.9,0.0,0.0,1.1,35.1,41.3,9.2,"Mist, Light Rain",30.0,235.13,45.3,29.5
1,97.5,Overcast,1/2/2019,32.9,NaN,NaN,NaN,41.0843,"Akron, OH",-81.5143,41.7,34.0,0.00,0.00,84.43,1020.8,0.0,0.0,1.6,44.4,37.3,6.7,"Mist, Fog, Smoke Or Haze",28.3,168.96,21.9,13.1
2,69.1,Partially cloudy,1/3/2019,26.4,NaN,NaN,NaN,41.0843,"Akron, OH",-81.5143,36.8,29.9,0.00,4.17,76.35,1017.4,0.0,0.0,1.8,49.7,33.1,9.3,"Mist, Light Snow, Rain, Light Rain, Smoke Or Haze",23.0,258.58,26.6,17.6
3,4.7,Clear,1/4/2019,29.0,NaN,NaN,NaN,41.0843,"Akron, OH",-81.5143,48.5,29.9,0.00,0.00,74.70,1010.6,0.0,0.0,2.7,75.0,36.7,8.9,"Mist, Smoke Or Haze",23.2,156.50,NaN,10.9
4,4.7,Clear,1/5/2019,31.8,NaN,NaN,NaN,41.0843,"Akron, OH",-81.5143,48.6,30.4,0.00,0.00,72.23,1007.3,0.0,0.0,3.4,94.1,40.2,9.6,NaN,29.6,268.33,NaN,12.7

In [139]:
# # Split Location column into 3: City, State and Country. Since all the cities are from the USA, we do not need Country
# combined_df[['City','State','Country']] = combined_df['Location'].str.split(", ", expand=True)
# combined_df.head()

In [140]:
len(combined_df['Location'].unique())

400

In [141]:
# Check if there are any null/NaN values
combined_df.isnull().sum()

Cloud Cover (%)                   13
Conditions                         5
Date time                          4
Dew Point (degF)                  13
Heat Index (degF)             417139
ID                             40354
Info                          609857
Latitude                          12
Location                           3
Longitude                         12
Maximum Temperature (degF)        13
Minimum Temperature (degF)        13
Precipitation (in)                12
Precipitation Cover (%)           13
Relative Humidity (%)             13
Sea Level Pressure (mb)         3344
Snow (in)                         13
Snow Depth (in)                   13
Solar Energy (J/m^2)          350018
Solar Radiation (W/m^2)       350018
Temperature (degF)                13
Visibility (mi)                   16
Weather Type                  214367
Wind Chill (degF)             316475
Wind Direction                    13
Wind Gust (mph)               178951
Wind Speed (mph)                  13
dtype: int64

In [142]:
# Rename columns. Include only relevant ones and remove the ones categorical variables that contain a lot of missing value
combined_df = combined_df[['Location','Date time','Conditions' ,'Latitude','Longitude','Temperature (degF)',
                           'Minimum Temperature (degF)','Maximum Temperature (degF)','Relative Humidity (%)',
                           'Cloud Cover (%)','Precipitation (in)','Precipitation Cover (%)', 'Wind Direction', 
                           'Wind Speed (mph)','Snow Depth (in)', 'Snow (in)','Dew Point (degF)','Visibility (mi)']]
combined_df.head(3)

,Location,Date time,Conditions,Latitude,Longitude,Temperature (degF),Minimum Temperature (degF),Maximum Temperature (degF),Relative Humidity (%),Cloud Cover (%),Precipitation (in),Precipitation Cover (%),Wind Direction,Wind Speed (mph),Snow Depth (in),Snow (in),Dew Point (degF),Visibility (mi)
0,"Akron, OH",1/1/2019,"Rain, Overcast",41.0843,-81.5143,41.3,35.7,60.8,78.77,93.4,0.27,8.33,235.13,29.5,0.0,0.0,35.1,9.2
1,"Akron, OH",1/2/2019,Overcast,41.0843,-81.5143,37.3,34.0,41.7,84.43,97.5,0.00,0.00,168.96,13.1,0.0,0.0,32.9,6.7
2,"Akron, OH",1/3/2019,Partially cloudy,41.0843,-81.5143,33.1,29.9,36.8,76.35,69.1,0.00,4.17,258.58,17.6,0.0,0.0,26.4,9.3

In [143]:
cities_to_be_removed = ['Ashland, KY', 'Ashland, OH', 'Athens, OH', 'Brookings, SD', 'Clinton, IA', 
                        'Council Bluffs, IA', 'Effingham, IL', 'Elko, NV', 'Holland, MI', 'Houghton, MI', 
                        'Indiana, PA', 'Jasper, IN', 'Juneau, AK', 'Los Alamos, NM', 
                        'Manitowoc, WI', 'Marshall, MN', 'Milford, CT', 'Moline, IL',
                        'Muscatine, IA', 'Muskogee, OK', 'Nashua, NH', 'Rock Island, IL', 
                        'Rutland, VT', 'Scottsbluff, NE', 'Sheridan, WY', 'Steubenville, OH', 'Taos, NM', 
                        'Texarkana, AR', 'Warren, PA', 'Washington, NC', 'Wilmington, DE', 'Winona, MN']


cities_to_be_removed

['Ashland, KY',
 'Ashland, OH',
 'Athens, OH',
 'Brookings, SD',
 'Clinton, IA',
 'Council Bluffs, IA',
 'Effingham, IL',
 'Elko, NV',
 'Holland, MI',
 'Houghton, MI',
 'Indiana, PA',
 'Jasper, IN',
 'Juneau, AK',
 'Los Alamos, NM',
 'Manitowoc, WI',
 'Marshall, MN',
 'Milford, CT',
 'Moline, IL',
 'Muscatine, IA',
 'Muskogee, OK',
 'Nashua, NH',
 'Rock Island, IL',
 'Rutland, VT',
 'Scottsbluff, NE',
 'Sheridan, WY',
 'Steubenville, OH',
 'Taos, NM',
 'Texarkana, AR',
 'Warren, PA',
 'Washington, NC',
 'Wilmington, DE',
 'Winona, MN']

In [144]:
# Setting index to the location in order to drop the cities that need to be removed
combined_df_index = combined_df.set_index("Location")
combined_df_index.head()

,Date time,Conditions,Latitude,Longitude,Temperature (degF),Minimum Temperature (degF),Maximum Temperature (degF),Relative Humidity (%),Cloud Cover (%),Precipitation (in),Precipitation Cover (%),Wind Direction,Wind Speed (mph),Snow Depth (in),Snow (in),Dew Point (degF),Visibility (mi)
Location,,,,,,,,,,,,,,,,,
"Akron, OH",1/1/2019,"Rain, Overcast",41.0843,-81.5143,41.3,35.7,60.8,78.77,93.4,0.27,8.33,235.13,29.5,0.0,0.0,35.1,9.2
"Akron, OH",1/2/2019,Overcast,41.0843,-81.5143,37.3,34.0,41.7,84.43,97.5,0.00,0.00,168.96,13.1,0.0,0.0,32.9,6.7
"Akron, OH",1/3/2019,Partially cloudy,41.0843,-81.5143,33.1,29.9,36.8,76.35,69.1,0.00,4.17,258.58,17.6,0.0,0.0,26.4,9.3
"Akron, OH",1/4/2019,Clear,41.0843,-81.5143,36.7,29.9,48.5,74.70,4.7,0.00,0.00,156.50,10.9,0.0,0.0,29.0,8.9
"Akron, OH",1/5/2019,Clear,41.0843,-81.5143,40.2,30.4,48.6,72.23,4.7,0.00,0.00,268.33,12.7,0.0,0.0,31.8,9.6

In [145]:
# Dropped cities from cities_to_be_removed_column
combined_df = combined_df_index.drop(cities_to_be_removed, axis=0)
combined_df = combined_df.reset_index()

In [146]:
len(combined_df['Location'].unique())

368

In [147]:
combined_df.dtypes

Location                       object
Date time                      object
Conditions                     object
Latitude                      float64
Longitude                     float64
Temperature (degF)            float64
Minimum Temperature (degF)    float64
Maximum Temperature (degF)    float64
Relative Humidity (%)         float64
Cloud Cover (%)               float64
Precipitation (in)            float64
Precipitation Cover (%)       float64
Wind Direction                float64
Wind Speed (mph)              float64
Snow Depth (in)               float64
Snow (in)                     float64
Dew Point (degF)              float64
Visibility (mi)               float64
dtype: object

In [148]:
combined_df['Date time'] = combined_df['Date time'].astype(str)

In [149]:
combined_df['Date time']

0           1/1/2019
1           1/2/2019
2           1/3/2019
3           1/4/2019
4           1/5/2019
             ...
560705    12/27/2018
560706    12/28/2018
560707    12/29/2018
560708    12/30/2018
560709    12/31/2018
Name: Date time, Length: 560710, dtype: object

In [150]:
# # Convert strings to Date time format
combined_df['Date time'] = pd.to_datetime(combined_df['Date time'], errors = 'coerce', infer_datetime_format=True)

In [151]:
# Check data types again
combined_df.dtypes

Location                              object
Date time                     datetime64[ns]
Conditions                            object
Latitude                             float64
Longitude                            float64
Temperature (degF)                   float64
Minimum Temperature (degF)           float64
Maximum Temperature (degF)           float64
Relative Humidity (%)                float64
Cloud Cover (%)                      float64
Precipitation (in)                   float64
Precipitation Cover (%)              float64
Wind Direction                       float64
Wind Speed (mph)                     float64
Snow Depth (in)                      float64
Snow (in)                            float64
Dew Point (degF)                     float64
Visibility (mi)                      float64
dtype: object

In [152]:
combined_df.shape

(560710, 18)

In [153]:
# List the count of each Location (City and State)
combined_df['Location'].value_counts()

Altoona, PA               1537
Bakersfield, CA           1537
Blacksburg, VA            1537
Bend, OR                  1537
Baltimore, MD             1537
Kingman, AZ               1537
Bremerton, WA             1537
Atlantic City, NJ         1537
Phoenix, AZ               1537
Austin, TX                1537
Arroyo Grande, CA         1537
Beaumont, TX              1537
Bay City, MI              1537
Albany, GA                1537
Anchorage, AK             1537
Alexandria, LA            1537
Asheville, NC             1537
Appleton, WI              1537
Boston, MA                1537
Bellevue, WA              1537
Auburn, ME                1537
Bowling Green, KY         1537
Anacortes, WA             1537
Anaheim, CA               1537
Bridgeport, CT            1537
Bismarck, ND              1537
Albany, NY                1537
Boulder, CO               1537
Akron, OH                 1537
Albuquerque, NM           1537
Flagstaff, AZ             1537
Tucson, AZ                1537
Bossier City, LA          1537
Anderson, IN              1537
Honolulu, HI              1537
Prescott, AZ              1537
Benton Harbor, MI         1537
Yuma, AZ                  1537
Bristol, TN               1537
Aurora, CO                1537
Sierra Vista, AZ          1537
Bangor, ME                1537
Baton Rouge, LA           1537
Bloomington, IL           1537
Billings, MT              1537
Mesa, AZ                  1537
Albany, OR                1537
Ann Arbor, MI             1537
Biloxi, MS                1537
Scottsdale, AZ            1537
Beloit, WI                1537
Bellingham, WA            1537
Allentown, PA             1537
Bridgeton, NJ             1537
Amarillo, TX              1537
Lake Havasu City, AZ      1537
Bradenton, FL             1537
Arlington, TX             1537
Dallas, TX                1536
Los Angeles, CA           1536
Portage, MI               1536
Panama City, FL           1536
Richland, WA              1536
Mt Vernon, WA             1536
Joplin, MO                1536
Santa Barbara, CA         1536
Pensacola, FL             1536
Erie, PA                  1536
Fairfield, CA             1536
Kennewick, WA             1536
Thousand Oaks, CA         1536
Walla Walla, WA           1536
Idaho Falls, ID           1536
Houston, TX               1536
Pascagoula, MS            1536
Hanover, PA               1536
Hammonton, NJ             1536
Thibodaux, LA             1536
West Palm Beach, FL       1536
Lubbock, TX               1536
Santa Rosa, CA            1536
Salisbury, MD             1536
El Centro, CA             1536
Concord, NC               1536
Chicago, IL               1536
Laredo, TX                1536
Springfield, MA           1536
Ithaca, NY                1536
San Luis Obispo, CA       1536
Dayton, OH                1536
Lafayette, LA             1536
Portland, OR              1536
Bryan, TX                 1536
Rapid City, SD            1536
Odessa, TX                1536
Porterville, CA           1536
San Diego, CA             1536
Dover, DE                 1536
Washington, DC            1536
Cleveland, OH             1536
Lynchburg, VA             1536
Warren, OH                1536
Riverside, CA             1536
Lenoir, NC                1536
Ontario, CA               1536
Fort Walton Beach, FL     1536
Waco, TX                  1536
Lewiston, ME              1536
Wenatchee, WA             1536
New Haven, CT             1536
North Myrtle Beach, SC    1536
Massillon, OH             1536
Oklahoma City, OK         1536
Spartanburg, SC           1536
Tyler, TX                 1536
Cedar Rapids, IA          1536
Eau Claire, WI            1536
Yakima, WA                1536
Lawton, OK                1536
Stockton, CA              1536
Hillsboro, OR             1536
Olympia, WA               1536
Napa, CA                  1536
Edinburg, TX              1536
Seattle, WA               1536
Salem, OR                 1536
Greeley, CO               1536
Ocala, FL                 1536
Tampa, FL                 1536
Vineland, NJ              1536
Lansing, MI               1536
Shreveport, LA            1536
Warren, MI                1536
Little Rock, AR           1536
Santa Cruz, CA            1536
High Point, NC            1536
Kissimmee, FL             1536
Harrisonburg, VA          1536
Burlington, VT            1536
Utica, NY                 1536
Crestview, FL             1536
Conway, AR                1536
Troy, NY                  1536
Lakeland, FL              1536
Round Rock, TX            1536
Houma, LA                 1536
Salinas, CA               1536
Twin Falls, ID            1536
San Antonio, TX           1536
Syracuse, NY              1536
Oxnard, CA                1536
Fort Lauderdale, FL       1536
College Station, TX       1536
Schenectady, NY           1536
Niles, MI                 1536
Norwalk, CT               1536
New London, CT            1536
Wyoming, MI               1536
South Burlington, VT      1536
South Bend, IN            1536
Hanford, CA               1536
Reno, NV                  1536
Columbus, OH              1536
Watertown, NY             1536
Yuba City, CA             1536
Fort Worth, TX            1536
Evansville, IN            1536
Janesville, WI            1536
Detroit, MI               1536
Sebring, FL               1536
Victoria, TX              1536
Lancaster, PA             1536
Conway, SC                1536
Champaign, IL             1536
Titusville, FL            1536
El Paso, TX               1536
Gainesville, FL           1536
Marco Island, FL          1536
Sheboygan, WI             1536
Milwaukee, WI             1536
Newark, NJ                1536
Cumberland, MD            1536
Jackson, TN               1536
Greenville, NC            1536
West Lafayette, IN        1536
Longview, TX              1536
Springfield, OH           1536
Vallejo, CA               1536
North Little Rock, AR     1536
Rochester, MN             1536
Merced, CA                1536
Pueblo, CO                1536
Charlottesville, VA       1536
Sioux City, IA            1536
Wichita, KS               1536
Harrisburg, PA            1536
Wausau, WI                1536
Myrtle Beach, SC          1536
Madison, WI               1536
Roanoke, VA               1536
La Porte, IN              1536
Missoula, MT              1536
Wilmington, NC            1536
Fort Wayne, IN            1536
Canton, OH                1536
Des Moines, IA            1536
Kingsport, TN             1536
Grand Junction, CO        1536
New Braunfels, TX         1536
Peoria, IL                1536
Kalamazoo, MI             1536
Douglas, AZ               1536
Brownsville, TX           1536
Monroe, LA                1536
Roseville, CA             1536
Flint, MI                 1536
Toledo, OH                1536
Watsonville, CA           1536
Manchester, NH            1536
Las Cruces, NM            1536
Salt Lake City, UT        1536
Miami, FL                 1536
Duluth, MN                1536
Las Vegas, NV             1536
Fort Smith, AR            1536
Springfield, MO           1536
Grand Rapids, MI          1536
Temple, TX                1536
Lake Charles, LA          1536
Buffalo, NY               1536
Mission, TX               1536
Lodi, CA                  1536
Elyria, OH                1536
Naples, FL                1536
North Port, FL            1536
Columbia, SC              1536
Killeen, TX               1536
Richmond, VA              1536
Longview, WA              1536
Madera, CA                1536
Owensboro, KY             1536
Denver, CO                1536
Nashville, TN             1536
Knoxville, TN             1536
Jersey City, NJ           1536
Franklin, TN              1536
Sanford, FL               1536
Durham, NC                1536
Winchester, VA            1536
Chico, CA                 1536
Iowa City, IA             1536
Cambridge, MA             1536
Jackson, MS               1536
Vero Beach, FL            1536
Clearwater, FL            1536
Clearfield, UT            1536
Redmond, OR               1536
Chambersburg, PA          1536
Elizabethtown, KY         1536
Casper, WY                1536
Sarasota, FL              1536
Columbus, IN              1536
Enid, OK                  1536
Morganton, NC             1536
San Bernardino, CA        1536
Visalia, CA               1536
Green Bay, WI             1536
Stamford, CT              1536
Morgantown, WV            1536
Rockford, IL              1536
Rocky Mount, NC           1536
Fort Myers, FL            1536
Pocatello, ID             1536
Topeka, KS                1536
Morristown, TN            1536
Tallahassee, FL           1536
Niagara Falls, NY         1536
State College, PA         1536
Lewiston, ID              1536
Springfield, IL           1536
Sebastian, FL             1536
Winter Haven, FL          1536
Colorado Springs, CO      1536
San Jose, CA              1536
Orem, UT                  1536
Fairbanks, AK             1536
Lebanon, PA               1536
Modesto, CA               1536
Rogers, AR                1536
Fayetteville, NC          1536
Eugene, OR                1536
Columbia, MO              1536
Hartford, CT              1536
Santa Clara, CA           1536
Urbana, IL                1536
Worcester, MA             1536
Portland, ME              1536
Great Falls, MT           1536
Murfreesboro, TN          1536
Charleston, SC            1536
Lafayette, IN             1536
Fort Collins, CO          1536
Sunnyvale, CA             1536
Waterloo, IA              1536
Spokane, WA               1536
San Francisco, CA         1536
Waukesha, WI              1536
Gulfport, MS              1536
Ogden, UT                 1536
Rome, NY                  1536
Hickory, NC               1536
Trenton, NJ               1536
Corcoran, CA              1536
Melbourne, FL             1536
Florence, SC              1536
Rochester, NY             1536
Palm Bay, FL              1536
Racine, WI                1536
Corpus Christi, TX        1536
Warner Robins, GA         1536
Radford, VA               1536
Carlsbad, CA              1536
New York, NY              1536
Mauldin, SC               1536
Pittsfield, MA            1536
Cape Coral, FL            1536
Scranton, PA              1536
New Orleans, LA           1536
Henderson, NV             1536
Orlando, FL               1536
Jacksonville, FL          1536
Sacramento, CA            1536
Lincoln, NE               1536
Jefferson City, MO        1536
Daytona Beach, FL         1536
Grants Pass, OR           1536
Greensboro, NC            1536
Lima, OH                  1536
Ormond Beach, FL          1536
Long Beach, CA            1536
Hattiesburg, MS           1536
Kokomo, IN                1536
Muskegon, MI              1536
East Lansing, MI          1536
Charlotte, NC             1536
North Charleston, SC      1536
Norwich, CT               1536
Port Arthur, TX           1536
Tulsa, OK                 1536
Lexington, KY             1536
Fayetteville, AR          1536
Minneapolis, MN           1536
Raleigh, NC               1536
Cheyenne, WY              1536
Decatur, IL               1536
Sioux Falls, SD           1536
Hagerstown, MD            1536
Oakland, CA               1536
Carmel, IN                1536
Tacoma, WA                1536
Christiansburg, VA        1536
Harlingen, TX             1536
Greenville, SC            1536
Provo, UT                 1536
Chapel Hill, NC           1536
Name                         8
                            1
Name: Location, dtype: int64

In [154]:
# Remove iirelevant columns: Name and symbol 
combined_df = combined_df[(combined_df['Location'] != 'Name') & (combined_df['Location'] != '')]

In [155]:
# List the count of each Location again to make sure we do not have any irrelevant data 
pd.set_option('max_columns', None)
pd.set_option('display.max_rows', 500)
combined_df['Location'].value_counts()

Altoona, PA               1537
Bowling Green, KY         1537
Blacksburg, VA            1537
Bend, OR                  1537
Kingman, AZ               1537
Bremerton, WA             1537
Baltimore, MD             1537
Phoenix, AZ               1537
Atlantic City, NJ         1537
Arroyo Grande, CA         1537
Austin, TX                1537
Beaumont, TX              1537
Bay City, MI              1537
Albany, GA                1537
Anchorage, AK             1537
Alexandria, LA            1537
Appleton, WI              1537
Boston, MA                1537
Asheville, NC             1537
Bellevue, WA              1537
Auburn, ME                1537
Bakersfield, CA           1537
Tucson, AZ                1537
Anaheim, CA               1537
Bangor, ME                1537
Bismarck, ND              1537
Bridgeport, CT            1537
Boulder, CO               1537
Albany, NY                1537
Akron, OH                 1537
Albuquerque, NM           1537
Anacortes, WA             1537
Flagstaff, AZ             1537
Bossier City, LA          1537
Anderson, IN              1537
Honolulu, HI              1537
Prescott, AZ              1537
Benton Harbor, MI         1537
Yuma, AZ                  1537
Bristol, TN               1537
Aurora, CO                1537
Sierra Vista, AZ          1537
Biloxi, MS                1537
Bridgeton, NJ             1537
Ann Arbor, MI             1537
Bradenton, FL             1537
Scottsdale, AZ            1537
Beloit, WI                1537
Albany, OR                1537
Baton Rouge, LA           1537
Mesa, AZ                  1537
Bellingham, WA            1537
Amarillo, TX              1537
Allentown, PA             1537
Arlington, TX             1537
Lake Havasu City, AZ      1537
Billings, MT              1537
Bloomington, IL           1537
Panama City, FL           1536
Santa Barbara, CA         1536
Pensacola, FL             1536
Dallas, TX                1536
Richland, WA              1536
Kennewick, WA             1536
Mt Vernon, WA             1536
Fairfield, CA             1536
Walla Walla, WA           1536
Chicago, IL               1536
Joplin, MO                1536
Pascagoula, MS            1536
Hanover, PA               1536
Cleveland, OH             1536
Thibodaux, LA             1536
Houston, TX               1536
West Palm Beach, FL       1536
Thousand Oaks, CA         1536
Lubbock, TX               1536
Santa Rosa, CA            1536
Portage, MI               1536
Hammonton, NJ             1536
Idaho Falls, ID           1536
Erie, PA                  1536
El Centro, CA             1536
Fort Walton Beach, FL     1536
Ontario, CA               1536
Salisbury, MD             1536
Laredo, TX                1536
Ithaca, NY                1536
Dayton, OH                1536
Lafayette, LA             1536
Bryan, TX                 1536
Springfield, MA           1536
San Luis Obispo, CA       1536
Portland, OR              1536
Eau Claire, WI            1536
Rapid City, SD            1536
Porterville, CA           1536
Concord, NC               1536
Washington, DC            1536
Lynchburg, VA             1536
Warren, OH                1536
San Diego, CA             1536
Dover, DE                 1536
Riverside, CA             1536
Lenoir, NC                1536
Waco, TX                  1536
Lewiston, ME              1536
Wenatchee, WA             1536
New Haven, CT             1536
North Myrtle Beach, SC    1536
Massillon, OH             1536
Oklahoma City, OK         1536
Spartanburg, SC           1536
Tyler, TX                 1536
Odessa, TX                1536
Cedar Rapids, IA          1536
Wyoming, MI               1536
El Paso, TX               1536
Lawton, OK                1536
Stockton, CA              1536
Hillsboro, OR             1536
Olympia, WA               1536
Napa, CA                  1536
Edinburg, TX              1536
Seattle, WA               1536
Salem, OR                 1536
Greeley, CO               1536
Ocala, FL                 1536
Tampa, FL                 1536
Vineland, NJ              1536
Lansing, MI               1536
Shreveport, LA            1536
Warren, MI                1536
Little Rock, AR           1536
Santa Cruz, CA            1536
High Point, NC            1536
Kissimmee, FL             1536
Harrisonburg, VA          1536
Burlington, VT            1536
Utica, NY                 1536
Crestview, FL             1536
Conway, AR                1536
Troy, NY                  1536
Lakeland, FL              1536
Round Rock, TX            1536
Houma, LA                 1536
Salinas, CA               1536
Twin Falls, ID            1536
San Antonio, TX           1536
Syracuse, NY              1536
Oxnard, CA                1536
Fort Lauderdale, FL       1536
College Station, TX       1536
Schenectady, NY           1536
Niles, MI                 1536
Norwalk, CT               1536
Yakima, WA                1536
New London, CT            1536
Evansville, IN            1536
South Bend, IN            1536
Hanford, CA               1536
Reno, NV                  1536
Columbus, OH              1536
Watertown, NY             1536
Yuba City, CA             1536
Wausau, WI                1536
Janesville, WI            1536
Marco Island, FL          1536
Detroit, MI               1536
Sebring, FL               1536
Victoria, TX              1536
Lancaster, PA             1536
Conway, SC                1536
Champaign, IL             1536
Titusville, FL            1536
Gainesville, FL           1536
Sheboygan, WI             1536
South Burlington, VT      1536
Milwaukee, WI             1536
Newark, NJ                1536
Cumberland, MD            1536
Jackson, TN               1536
Greenville, NC            1536
West Lafayette, IN        1536
Longview, TX              1536
Springfield, OH           1536
Vallejo, CA               1536
North Little Rock, AR     1536
Rochester, MN             1536
Merced, CA                1536
Pueblo, CO                1536
Charlottesville, VA       1536
Sioux City, IA            1536
Wichita, KS               1536
Harrisburg, PA            1536
Los Angeles, CA           1536
Florence, SC              1536
Fort Worth, TX            1536
Roanoke, VA               1536
La Porte, IN              1536
Missoula, MT              1536
Wilmington, NC            1536
Fort Wayne, IN            1536
Canton, OH                1536
Des Moines, IA            1536
Kingsport, TN             1536
Grand Junction, CO        1536
New Braunfels, TX         1536
Madison, WI               1536
Kalamazoo, MI             1536
Douglas, AZ               1536
Brownsville, TX           1536
Monroe, LA                1536
Roseville, CA             1536
Flint, MI                 1536
Toledo, OH                1536
Watsonville, CA           1536
Manchester, NH            1536
Las Cruces, NM            1536
Salt Lake City, UT        1536
Miami, FL                 1536
Duluth, MN                1536
Las Vegas, NV             1536
Fort Smith, AR            1536
Springfield, MO           1536
Grand Rapids, MI          1536
Temple, TX                1536
Lake Charles, LA          1536
Buffalo, NY               1536
Mission, TX               1536
Lodi, CA                  1536
Elyria, OH                1536
Naples, FL                1536
North Port, FL            1536
Columbia, SC              1536
Killeen, TX               1536
Richmond, VA              1536
Longview, WA              1536
Madera, CA                1536
Owensboro, KY             1536
Denver, CO                1536
Nashville, TN             1536
Knoxville, TN             1536
Jersey City, NJ           1536
Franklin, TN              1536
Sanford, FL               1536
Durham, NC                1536
Winchester, VA            1536
Chico, CA                 1536
Iowa City, IA             1536
Cambridge, MA             1536
Jackson, MS               1536
Vero Beach, FL            1536
Clearwater, FL            1536
Clearfield, UT            1536
Redmond, OR               1536
Chambersburg, PA          1536
Elizabethtown, KY         1536
Casper, WY                1536
Sarasota, FL              1536
Columbus, IN              1536
Enid, OK                  1536
Morganton, NC             1536
San Bernardino, CA        1536
Visalia, CA               1536
Green Bay, WI             1536
Stamford, CT              1536
Morgantown, WV            1536
Rockford, IL              1536
Rocky Mount, NC           1536
Fort Myers, FL            1536
Pocatello, ID             1536
Topeka, KS                1536
Morristown, TN            1536
Tallahassee, FL           1536
Niagara Falls, NY         1536
State College, PA         1536
Lewiston, ID              1536
Springfield, IL           1536
Sebastian, FL             1536
Winter Haven, FL          1536
Peoria, IL                1536
Colorado Springs, CO      1536
Waterloo, IA              1536
Sunnyvale, CA             1536
Fairbanks, AK             1536
Lebanon, PA               1536
Modesto, CA               1536
Rogers, AR                1536
Fayetteville, NC          1536
Eugene, OR                1536
Columbia, MO              1536
Hartford, CT              1536
Santa Clara, CA           1536
Urbana, IL                1536
Worcester, MA             1536
Portland, ME              1536
Great Falls, MT           1536
Murfreesboro, TN          1536
Charleston, SC            1536
Lafayette, IN             1536
Orem, UT                  1536
San Francisco, CA         1536
Pittsfield, MA            1536
New York, NY              1536
San Jose, CA              1536
Waukesha, WI              1536
Gulfport, MS              1536
Ogden, UT                 1536
Rome, NY                  1536
Hickory, NC               1536
Trenton, NJ               1536
Corcoran, CA              1536
Melbourne, FL             1536
Rochester, NY             1536
Myrtle Beach, SC          1536
Palm Bay, FL              1536
Racine, WI                1536
Corpus Christi, TX        1536
Warner Robins, GA         1536
Radford, VA               1536
Carlsbad, CA              1536
Fort Collins, CO          1536
Spokane, WA               1536
Mauldin, SC               1536
North Charleston, SC      1536
New Orleans, LA           1536
Henderson, NV             1536
Orlando, FL               1536
Jacksonville, FL          1536
Sacramento, CA            1536
Lincoln, NE               1536
Jefferson City, MO        1536
Daytona Beach, FL         1536
Grants Pass, OR           1536
Greensboro, NC            1536
Lima, OH                  1536
Ormond Beach, FL          1536
Long Beach, CA            1536
Hattiesburg, MS           1536
Kokomo, IN                1536
Muskegon, MI              1536
East Lansing, MI          1536
Charlotte, NC             1536
Norwich, CT               1536
Cape Coral, FL            1536
Provo, UT                 1536
Scranton, PA              1536
Tulsa, OK                 1536
Lexington, KY             1536
Fayetteville, AR          1536
Minneapolis, MN           1536
Raleigh, NC               1536
Cheyenne, WY              1536
Decatur, IL               1536
Sioux Falls, SD           1536
Port Arthur, TX           1536
Hagerstown, MD            1536
Oakland, CA               1536
Carmel, IN                1536
Tacoma, WA                1536
Christiansburg, VA        1536
Harlingen, TX             1536
Greenville, SC            1536
Chapel Hill, NC           1536
Name: Location, dtype: int64

In [156]:
# after removing irrelevant data we have unique 398 Locations 
len(combined_df['Location'].unique())

366

In [157]:
# Check again for null values 
combined_df.isnull().sum()

Location                      3
Date time                     3
Conditions                    4
Latitude                      3
Longitude                     3
Temperature (degF)            4
Minimum Temperature (degF)    4
Maximum Temperature (degF)    4
Relative Humidity (%)         4
Cloud Cover (%)               4
Precipitation (in)            3
Precipitation Cover (%)       4
Wind Direction                4
Wind Speed (mph)              4
Snow Depth (in)               4
Snow (in)                     4
Dew Point (degF)              4
Visibility (mi)               4
dtype: int64

In [158]:
# Check the values, where location is equal to null  
combined_df[combined_df['Location'].isnull()]

,Location,Date time,Conditions,Latitude,Longitude,Temperature (degF),Minimum Temperature (degF),Maximum Temperature (degF),Relative Humidity (%),Cloud Cover (%),Precipitation (in),Precipitation Cover (%),Wind Direction,Wind Speed (mph),Snow Depth (in),Snow (in),Dew Point (degF),Visibility (mi)
37929,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37930,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37931,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
# Drop the values where Location is Nan
combined_df = combined_df[combined_df['Location'].notna()]

In [160]:
combined_df.isnull().sum()

Location                      0
Date time                     0
Conditions                    1
Latitude                      0
Longitude                     0
Temperature (degF)            1
Minimum Temperature (degF)    1
Maximum Temperature (degF)    1
Relative Humidity (%)         1
Cloud Cover (%)               1
Precipitation (in)            0
Precipitation Cover (%)       1
Wind Direction                1
Wind Speed (mph)              1
Snow Depth (in)               1
Snow (in)                     1
Dew Point (degF)              1
Visibility (mi)               1
dtype: int64

In [163]:
#Split Location feature into City and State and drop Location
combined_df[['City', 'State']] = combined_df.Location.str.split(', ', expand=True)

In [165]:
combined_df = combined_df.drop(['Location'], axis =1)

In [166]:
# Rename columns
combined_df = combined_df[['City','State','Date time','Conditions' ,'Latitude','Longitude','Temperature (degF)',
                           'Minimum Temperature (degF)','Maximum Temperature (degF)','Relative Humidity (%)',
                           'Cloud Cover (%)','Precipitation (in)','Precipitation Cover (%)', 'Wind Direction', 
                           'Wind Speed (mph)','Snow Depth (in)', 'Snow (in)','Dew Point (degF)','Visibility (mi)']]
combined_df.head(3)

,City,State,Date time,Conditions,Latitude,Longitude,Temperature (degF),Minimum Temperature (degF),Maximum Temperature (degF),Relative Humidity (%),Cloud Cover (%),Precipitation (in),Precipitation Cover (%),Wind Direction,Wind Speed (mph),Snow Depth (in),Snow (in),Dew Point (degF),Visibility (mi)
0,Akron,OH,2019-01-01,"Rain, Overcast",41.0843,-81.5143,41.3,35.7,60.8,78.77,93.4,0.27,8.33,235.13,29.5,0.0,0.0,35.1,9.2
1,Akron,OH,2019-01-02,Overcast,41.0843,-81.5143,37.3,34.0,41.7,84.43,97.5,0.00,0.00,168.96,13.1,0.0,0.0,32.9,6.7
2,Akron,OH,2019-01-03,Partially cloudy,41.0843,-81.5143,33.1,29.9,36.8,76.35,69.1,0.00,4.17,258.58,17.6,0.0,0.0,26.4,9.3

In [167]:
# Check how many cities we have in the dataset

len(combined_df['City'].unique())

348

In [168]:
# Create a directory, where we want to store the csv file  
combined_df.to_csv(r'C:\Users\Khisl\Desktop\LABSPT_17\PT17_cityspire-f-ds\weather_api\data\cities_after_eda.csv', index = False)